@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Open+Sans:wght@300&family=Press+Start+2P&family=Roboto&family=Tillana:wght@600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.App {
background-color: rgb(246, 238, 248);
margin-top: 6rem;
flex-grow: 1;
color: rgb(126, 5, 126);
font-family: 'Roboto', sans-serif;
}

