* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.App {
background-color: rgb(246, 238, 248);
margin-top: 6rem;
flex-grow: 1;
color: rgb(126, 5, 126);
}

